<ion-header-bar class="bar bar-header bar-royal">
  <h1 class="title">Message</h1>
  <button class="button button-icon" ng-click="logout()">
        Logout
  </button>
</ion-header-bar>
<ion-view>
  <ion-content>
  <form name="messageForm" ng-submit="">
    <!-- Validation is needed for length of message, char limit not working -->
    <label class="item item-input item-floating-label">
        <span class="input-label">Message</span>
        <input ng-model="$parent.message" type="text" placeholder="Message" name="message" required>
    </label>
  </form>
    <!-- Display your friends list -->
    <ion-list class="card">
      <ion-item ng-repeat="friend in decodedFriends" ng-click='sendMessage(friend.email, $index)'>
          <span>{{ friend.username }}</span>
          <span style="float:right; color: lightgray" ng-show="sent[$index]">Message Sent</span>
      </ion-item>
    </ion-list>
   

  <!-- Add friend button -->
  </button>
  </ion-content>
   <ion-footer-bar class="bar-calm">
      <div class="title"><i class="button button-icon ion-person-add" ng-click="navToUsers()"></i></div>
    </ion-footer-bar>
</ion-view>
