<ion-header-bar class="bar bar-header bar-royal">
  <h1 class="title">Yep</h1>
  <button class="button button-icon" ng-click="logout()">
        Logout
  </button>
</ion-header-bar>
<ion-view view-title="Users" class="users-page">
  <ion-content>
    <form name="userForm" ng-submit="fetchUserByEmail()">
    <label class="item item-input item-floating-label">
        <span class="input-label">Search</span>
        
        <input ng-model="inputs.email" type="text" placeholder="Search" ng-maxlength="15" required>
    </label>
  </form>

    <button class="button button-assertive" ng-if="notFound">
      User Not Found
    </button>
    <button class="button button-positive" ng-if="identified" ng-click="addFriend()">
      Add Friend: {{ username }}
    </button>
    <button class="button button-assertive" ng-if="alreadyFriend" ng-click="removeFriend()">
      Remove Friend: {{ username }}
    </button>
    <button class="button button-calm" ng-if="added">Added {{ username }}</button>
    <button class="button button-dark" ng-if="removed">Removed {{ username }}</button>

  </ion-content>
    <ion-footer-bar class="bar-calm">
      <div class="title"><i class="button button-icon ion-chatbox-working" ng-click="navToMessage()"></i></div>
    </ion-footer-bar>
</ion-view>
